
/* CHAT BOX */
.chat-box{
  max-width: 400px;
  margin: 0 auto;
  height: 220px;
  overflow-y: auto;
}

.compose-box{
  max-width: 400px;
  margin: 0 auto;
}

/* MESSAGE BOX */

.message-box{
  margin: 8px 0;
}

.message-box::after {
  content: "";
  clear: both;
  display: table;
}

.message-box > div{
  background-color: #ddd;
  border-radius: 8px 8px 8px 0;
  padding: 8px 12px;
  max-width: 80%;
  float: left;
}

.message-box-2 > div{
  background-color: #007bff;
  color: white;
  border-radius: 8px 8px 0 8px;
  float: right;
}

.message-box img{
  max-width: 100%;
  max-height: 200px;
}

.message-box video{
  max-width: 100%;
  max-height: 200px;
}

/* LOADER */
.lds-ripple {
  display: inline-block;
  position: relative;
  width: 80px;
  height: 80px;
}

.lds-ripple div {
  background-color: black;
  position: absolute;
  border: 4px solid #fff;
  opacity: 1;
  border-radius: 50%;
  animation: lds-ripple 2s cubic-bezier(0, 0.2, 0.8, 1) infinite;
}

.lds-ripple div:nth-child(2) {
  animation-delay: -0.5s;
}

@keyframes lds-ripple {

  0% {
    top: 36px;
    left: 36px;
    width: 0;
    height: 0;
    opacity: 1;
  }

  100% {
    top: 0px;
    left: 0px;
    width: 72px;
    height: 72px;
    opacity: 0;
  }

}

